

/* Tab START */
.redq-tab-content-wrapper .redq-tab-content{
  display: none;
}
.redq-tab-content-wrapper .redq-tab-content:nth-child(1){
  display: block;
}
.redq-tab-menu-item:focus{
  box-shadow: none !important;
}
.redq-tab-menus{
  margin-bottom: 35px !important;    
}
.redq-tab-menus .redq-tab-menu-item{    
  padding: 5px 16px !important;
  margin-right: 8px !important;
  border: 1px solid #000;
  color: #000 !important;
}
.redq-tab-menus .redq-tab-menu-item.button-primary{
  background-color: #000;
  border-color: #000;
  color: #fff !important;
}
.redq-tab-content > h2{
  font-size: 22px;
}
/* Tab END */

.redq-show-bar {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px;
  height: 42px;
  border: 1px solid #eee;
}

/* Add ons */

.wrap.woocommerce.wc_addons_wrap.rnb_addons_wrap {
  margin-top: 50px;
}

.wrap.woocommerce.wc_addons_wrap.rnb_addons_wrap .addons-banner-block {
  padding-bottom: 50px;
}

.rnb-addon {
  width: calc(100% - 40px);
}

.rnb-addon {
  background: none !important;
  border: 1px solid #ddd;
  margin-top: 1em;
  padding: 20px;
  overflow: hidden;
  zoom: 1;
}

.rnb-addon .subtitle{
	margin-top: 0px !important;
}

.wc_addons_wrap .storefront img {
  width: 278px;
  height: auto;
  float: left;
  margin: 0 20px 0 0;
  box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
}

.rnb-addon a img {
  width: 400px;
  height: 100%;
  margin-right: 30px;
}

.rnb-addon h2 {
  font-size: 1.5em !important;
  margin-top: 5px;
}

.rnb-addon p {
  max-width: 100% !important;
}

.rnb-addon p .button {
  padding: 5px 20px;
  margin-right: 10px;
  border: 1px solid #000;
  color: #000 !important;
}

.subsubsub li.wc-rnb-fake-order {
  display: none;
}
